*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
nav{
  background: #0f1111;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  width: auto;
  margin: 0 16px;
  text-align: center;

}

nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
}
nav ul li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

nav ul li.btn{
  display: none;
  font-size: 20px;
  padding-top: 20px;
}

@media all and (max-width: 900px){
  nav ul li.items{
    display: none;
  }
  nav ul li.btn{
    display: block;
    color: white;
  }
}
