*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
     
}

nav{
    background-color: aqua;
    height: 50px;
    width:75vw;
    max-width: 600px;
/* display: flex; */
/* align-items: center; */
 z-index: 10; 
position: fixed;
top: 0;
right: 0;
}

.logo{
    display: inline-block;
    
position: fixed;
z-index: 10;
top: 10px;
left: 10px;
}

.l1{
color: orange;
}


.container{
    height: 100%;
background-color: blue;
/* display: flex; */
/* justify-content: space-evenly; */
width:100%;
}

/* nav a,ul.sn{
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: center; 
} */

nav .container ul.sn{
    list-style-type: none;
    /* float: right; */
    /* position: fixed; */
    /* top: 1em; */
    /* right: 0; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* justify-content: space-evenly; */
    }
.container ul.sn li {
    display: flex;
    justify-content: center;
    align-items: center;
    
background-color: rgb(125, 111, 206);
text-decoration: none;
border:2px solid black;
width: auto;
height:50px;
}



.container a:hover{
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    color: white;
}
.container a:active{
    color: chartreuse;
    background-color: rgb(64, 31, 42);
}

.container a:link{
    background-color: black;
    color: white;
}

nav svg{
    color: black;
}

#check {
    display: none;
}

label.side,label.side1{
    display: none;
}


  
  /* nav ul.sn {
  
    display: flex;
    list-style-type: none;
    position: fixed;
    top: 1em;
    right: 0;
    width: 100%;
    /* padding-left: auto; */
    /* background-color: #26a224; */
    /* justify-content: flex-end; */
    /* margin-right: 20px; 
    
  }
  
  nav ul.sn li {
    /* display: inline-block; */
    /* justify-content: flex-end; */
    /* line-height: 80px; */
    /* margin: 0 5px; */
    /* padding-left: auto;
    background-color: #36119a; 
    color: darkblue;
    background-color: red;
    
  }
  
  nav ul.sn li a {
    /* font-size: 17px; */
    /* padding: 7px 13px; */
    /* border-radius: 3px; */
    /* text-transform: uppercase; 
    text-decoration: none;
    padding-left: auto;
    
  } 
*/
  .a,.b,.c,.d,.e{ 
      /* display: flex; */
      /* flex-direction: column; */
    /* margin-right: 20px; */
    /* width: 100%; */
  }
  
  .d1c,.d2c,.d3c,.d4c,.d5c{
      display: none;
      
      position: fixed;
      top:50px ;
      /* transition: opacity 0.3s ease; */
  }
  .contenta:hover .d1c,
  .contentb:hover .d2c,
  .contentc:hover .d3c,
  .contentd:hover .d4c,
  .contente:hover .d5c {
      
      display: block;
      background-color: rgb(6, 6, 6);
  }
  /* nav ul.sn li a.active{
    background: #022138;
    transition: .5s;
    color: #9ede45;
  } */
  /* nav ul.sn li a:link{
      color: #36119a;
      background-color: rgb(139, 199, 201);
  } */
  /* nav ul.sn li a:visited{
      color: rgb(88, 10, 206);
      background-color: rgb(14, 14, 14);
  } */
  /* nav ul.sn li a:hover{
      color: rgb(237, 231, 231);
      background-color: rgb(67, 65, 63);
  } */
  
  
  
@media (max-width:720px){
    nav{
        height:auto;
        width: auto;

    }
    .container{
        position: fixed;
        top: 0;
        right: -100%;
        width:200px;
        z-index: 10;
        
        height:100%;
        flex-direction: column;
        align-items: flex-start;

        background-color: rgb(117, 244, 49);
        box-shadow: -5px 0 5px rgba(20,30,40,0.8);
        transition: 0.75s ease-out;
    }

    .container ul.sn{
        background-color: rgb(9, 9, 9);
        display: flex;
        flex-direction: column;
      justify-content: flex-start;
      row-gap: 10px;
    }

    .container ul.sn li{
        position: relative;
    }
    .container ul.sn a{
        text-decoration: none;
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    
    label.side1{
        display: block;
        background-color: black;
    }
    label.side{
        background-color: red;
        
    }
    #check:checked ~ .container,label.side{
        display: flex;
        right: 0;
    }
   
    #check:checked ~ nav{
        height:300px;
        width: 200px;

    }
    #check:checked ~ #all{
        
        height:100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .d1c,.d2c,.d3c,.d5c{
        display: none;
        position: absolute;
        top:-50%;
        right: 100%;
        background-color: white;
        padding: 5px;
        box-shadow: 0px 4px 8px rgba(-5, 0, 5, 0.8);
        z-index: 5;
        /* position: fixed; */
        /* right: 200px; */
        /* transition: opacity 0.3s ease; */
    }
    
    .d5c ul.a li,.d5c ul.a li a{
        height: 25px;
    }
    .d3c ul.a li,.d3c ul.a li a,.d2c ul.a li,.d2c ul.a li a{
        height: 40px;
    }
    
.a li a{
    border-bottom: 1px solid rgb(22, 18, 18);
        background-color: rgb(13, 0, 0);
        color: white;
    
}
    .a li a:hover{
        border-radius: 10px;
        background-color: rgb(33, 33, 33);
        color: white;
    }
}
